<div
  {% if block.anchor %}id="\{{block.anchor}}"{% endif %}
  x-data="{{ camelCase name }}Block"
  class="component-block block-{{ kebabCase name }} \{{ className }}"
>
  {# placeholder content #}
  <h3>Block: {{ sentenceCase name}}</h3>
  \{{ print(fields) }}
  {# placeholder content #}
</div>
